@mixin formulaire {
    .globalFormContainer{
        width: 95%;
        height: 80%;
        background-color: white;
        border-radius: 0 100px 0 0;    
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        @media screen and (max-width: 1024px) {
            border-radius: 0;
        }

        @media screen and (max-height: 800px) {
            height: 95%;
        }

        .returnBtn{
            max-width: 70%;
            font-size: 24px;
            border: none;
            background-color: white;
            color: #0396A6;
            cursor: pointer;
            margin-top: 1rem;
            margin-left: 2rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            img{
                width: 9px;
                object-fit:contain;
                margin-right: 3px;
            }
        }

        .container{
            margin-left: auto;
            margin-right: auto;
            height: 24%;
            // background-color: #0396A6;
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2{
                font-size: 48px;
                font-weight: bold;
                margin-bottom: 1.5rem;
            }

            .progressLign{
                width: 25rem;
                height: 9px;
                border-radius: 10px;
                background-color: #c4c4c4;

                .progressLignIn{
                    height: 100%;
                    background-color: #04BFAD;
                    border-radius: 10px;
                }
            }
        }

        form{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: scroll;

            .cardContainer{
                margin-top: 2rem;
                width: 95%;
                height: 17rem;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;

                .card{
                    height: 15rem;
                    width: 12rem;
                    border-radius: 10px;
                    cursor: pointer;
                    -webkit-box-shadow: 1px 4px 4px 1px rgba(0,0,0,0.25); 
                    box-shadow: 1px 4px 4px 1px rgba(37, 6, 6, 0.25);
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    @media screen and (max-width: 1420px) {
                        width: 9.6em;
                        height: 12em;
                    }

                    @media screen and (max-width: 1180px) {
                        height: 16rem;
                        width: 13rem;
                    }

                    @media screen and (max-width: 1024px) {
                        width: 9.6em;
                        height: 12em;
                    }

                    @media screen and (max-width: 768px) {
                        width: 9.6em;
                        height: 12em;
                    }

                    .pointExt{
                        position: absolute;
                        top: 0.7rem;
                        right: 0.7rem;
                        height: 20px;
                        width: 20px;
                        background-color: #C4C4C4;
                        border-radius: 50%;
                    }

                    img{
                        width: 10rem;
                        @media screen and (max-width: 1420px) {
                            width: 7rem;
                        }
                    }

                    h4{
                        text-align: center;
                        margin-top: 1rem;
                    }
                }

                .selected{
                    border: 1px solid #F28963;

                    .pointExt{
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .pointInt{
                            width: 15px;
                            height: 15px;
                            background-color: #F28963;
                            border-radius: 50%;
                        }
                    }
                }

                .card:hover{
                    -webkit-box-shadow: 0px 6px 6px 2px rgba(0,0,0,0.35); 
                    box-shadow: 0px 6px 6px 2px rgba(0,0,0,0.35);
                }

            }
        }

        .btnContainer{
            width: 100%;

            @include btn;
    
            .btnUn{
                margin-bottom: 1rem;
                width: 10rem;
                height: 4rem;
                min-height: 4rem;
                font-size: 27px;
                margin-left: auto;
                margin-right: auto;

                @media screen and (max-width: 768px) {
                    margin: 0;
                    width: 100%;
                    border-radius: 0;
                }
                
            }

            @media screen and (max-width: 768px) {
                position: fixed;
                top: calc(100vh - 4rem);
            }
        }
    }
}