@import "./pages/about";
@import "./Mixins/btn.scss";
@import "../style/component/footer";
@import "./pages/homePage";
@import "./pages/notFound";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #405A5C
}

body{
    #root{
        .App{
            position: relative;

            main{
                min-height: calc(100vh + 155px);
            }
            
            @include footer;
        }
    }
}