@import "../Mixins/btn.scss";
@import "../component/homeNavigation";
@import "../Mixins/imageAndText";
@import "../Mixins/titleAndText";

.aboutHeader{
    -webkit-box-shadow: 0px 1px 15px -1px rgba(0,0,0,0.45); 
    box-shadow: 0px 1px 15px -1px rgba(0,0,0,0.45);
    @include homeNavigation;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh + 155px);

    .littleConnect{
        margin-left: 1rem;
        width: 95%;
        margin-top: 1rem;
        color: #405A5C;
        font-weight: 300;
        font-size: 12px;

        a{
            text-decoration: none;
            color: #0396A6;
            // font-weight: bold;
            font-size: 12px;
            margin: 0;
        }
        @media screen and (min-width: 426px) {
            display: none;
        }

        @media screen and (max-width: 420px) {
            width: 95%;
        }
    }.titleAndText{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        @media screen and (min-width: 426px) {
            height: 30rem;
            background:linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0, 0, 0, 0.6)),url(../../../public/img/AdobeStock_6829200.jpeg);
            background-size: auto, cover;
        }
        h1{
            margin-top: 2rem;
            font-weight:400;
            font-size: 60px;
            color: #405A5C;
            @media screen and (min-width: 426px) {
                color: white;
            }
    
            @media screen and (max-width: 475px) {
                font-size: 40px;
            }
        }
        .description{
            margin-top: 1rem;
            font-weight: lighter;
            max-width: 814px;
            text-align: center;
            font-size: 18px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            color: #405A5C;
            @media screen and (min-width: 426px) {
                color: white;
            }
        }
    }


    .description::after{
        content: "";
        width: 90%;
        border-bottom: 1px solid #405A5C;
        margin-top: 2rem;
        @media screen and (min-width: 426px) {
            border-bottom: 1px solid white;
        }
    }

    @include titleAndText;
    @include imageAndTextLeft;
    @include imageAndTextRight;
    @include btn;

    .new{
        @media screen and (min-width: 426px) {
            margin-bottom: 50px;
        }
    }

    a{
        display: none;
        text-decoration: none;
        margin-top: 1rem;
        color: #0396A6;
        font-weight: bold;
        font-size: 16px;

        @media screen and (max-width: 425px) {
            display: block;
        }
    }

}