@import "../component/adminConnectionFormulaire";

.connectionPage{
    background-color: #0396A6;
    width: 100vw;
    min-height: calc(100vh - 72px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
@include adminConnectionFormulaire;