@import "../component/homeNavigation";
@import "../Mixins/imageAndText";
@import "../Mixins/btn.scss";

.header{
    -webkit-box-shadow: 0px 1px 15px -1px rgba(0,0,0,0.35); 
    box-shadow: 0px 1px 15px -1px rgba(0,0,0,0.35);
    @include homeNavigation;
}

.homePage{
    display: flex;
    flex-direction: column;
    align-items: center;

    .containerTop{
        width: 100%;
        background-color: rgba(196, 196, 196, 0.22);
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: 426px) {
            background-color: rgba(196, 196, 196, 0);
        }
        
        .littleConnect{
            margin-left: 1rem;
            width: 95%;
            margin-top: 1rem;
            font-size: 12px;
            color: #405A5C;
            font-weight: 300;
    
            a{
                text-decoration: none;
                color: #0396A6;
                font-weight: bold;
            }
            @media screen and (min-width: 426px) {
                display: none;
            }
    
            @media screen and (max-width: 420px) {
                width: 95%;
            }
        }
    
        h1{
            margin-top: 2rem;
            font-weight:400;
            font-size: 60px;
            color: #405A5C;
    
            @media screen and (max-width: 475px) {
                font-size: 40px;
            }
        }
    
        .description{
            margin-top: 1rem;
            font-weight: lighter;
            max-width: 814px;
            text-align: center;
            font-size: 18px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
    
        .description::after{
            content: "";
            width: 90%;
            border-bottom: 1px solid #405A5C;
            margin-top: 2rem;
        }
    
        @include imageAndTextLeft;
    
        @include btn;

        .specialiste {
            margin-top: 1rem;
        }
    
        @media screen and (min-width: 426px) {
            .btnUn{
                display: none;
            }
        }
    
        @media screen and (max-width: 425px) {
            .btnUn{
                margin-top: 1rem;
            }
        }
    }


    .smallBottomContainer{
        display: none;
        margin-bottom: 170px;
        width: 90%;

        .dropDownContainer{
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .dropDown{
                width: 90%;
                cursor: pointer;
                font-size: 18px;
                color:#0396A6;
                margin-bottom: 0.5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                @media screen and (max-width: 400px) {
                    font-size: 18px;
                }
                img{
                    width: 12px;
                    height: 12px;
                    margin-left: 1rem;
                }
            }
            .lign{
                width: 90%;
                border: 1px solid #0396A6;
            }
            p{
                margin-top: 1rem;
                text-align: center;
                font-weight: 100;
                width: 88%;
                font-size: 12px;
            }
        }

        .btnContainer{
            width: 100%;
            display: flex;
            justify-content: center;
            @include btn;
            .btnUn{
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }
        }


        @media screen and (max-width: 430px) {
            display: block;
        }
    }

    .bottomContainer{
        display: none;
        width: 100vw;
        height: 100%;
        padding-top: 2rem;
        padding-bottom: 2rem;
        background-color: #0396A6;
        border-radius: 0 100px 0 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        @media screen and (max-width: 1150px) {
            border-radius: 0 0 0 0;
        }

        @media screen and (max-width: 430px) {
            display: none;
        }

        h2{
            color: white;
            font-weight: 400;
            font-size: 35px;
            text-align: center;
            margin-top: 1rem;

            @media screen and(max-width: 860px) {
                max-width: 25rem;
            }
        }

        .avantageContainer{
            box-shadow: 0px 1px 15px -1px rgb(0 0 0 / 45%);
            margin-top: 3rem;
            height: 450px;
            width: 90%;
            max-width: 875px;
            background-color: white;
            border-radius: 10px;
            padding: 3.5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media screen and (max-width: 425px) {
                padding: 4rem 2rem 4rem 2rem;
                height: 300px;
            }

            .check{
                display: flex;
                align-items: center;
                svg{
                    font-size: 30px;

                    @media screen and (max-width: 425px) {
                        width: 24px;
                    }
                }
                span{
                    margin-left: 2rem;
                    font-size: 25px;
                    font-weight: 400;

                    @media screen and (max-width: 425px) {
                        font-size: 18px;
                    }
                }
            }

            .endContainer{  
                width: 120px;
                margin-left: auto;
                margin-right: auto;

                @include btn;
            }
        }

        .garantiesContainer{
            display: flex;
            width: 90%;
            max-width: 875px;
            justify-content: space-between;
            margin-top: 3rem;
            margin-bottom: 155px;

            .garanties{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

                @media screen and (max-width: 640px) {
                    margin-top: 3rem;
                }

                img{
                    width: 100px;

                    @media screen and (max-width: 640px) {
                        max-width: 90px;
                    }
                }

                p{
                    color: white;
                    font-weight: 400;
                    font-size: 18px;
                    margin-top: 1rem;
                    text-align: center;
                }
            }

            @media screen and (max-width: 640px) {
                flex-direction: column;
                margin-top: 0;
            }
        }
    }

    a{
        margin-bottom: 1rem;
    }
}