@import "../component/landingPageNavigation";

header{
    -webkit-box-shadow: 0px 1px 15px -1px rgba(0,0,0,0); 
    box-shadow: 0px 1px 15px -1px rgba(0,0,0,0);
}
.landingPage{
    width: 100%;
    height: calc(100vh - 4.5em);
    display: flex;
    animation-name: opacity;
    animation-duration: 1.5s;

    @media screen and (max-width: 700px) {
        height: calc(100vh - 96px);
    }

    .globalContainer{
        width: 100%;
        height: 100%;
        display: flex;
        // margin-bottom: 155px;

        .leftContainer{
            width: 35%;
            height: 100%;
            background-image: url("../../../public/img/photo-iti.jpeg");
            background-size:cover;
            display: flex;
            justify-content: center;
            align-items: center;
    
            .container{
                height: 95%;
                width: 90%;
                background-color:rgba(255, 255, 255, 0.92);
                
                .whereAreMe{
                    display: flex;
                    a{
                        text-decoration: none;
                        font-size: 14px;
                        font-weight: bold;
                    }

                    img{
                        width: 7px;
                        object-fit:contain;
                        margin-left: 3px;
                    }

                    p{
                        font-size: 14px;
                        font-weight: lighter;
                        margin-left: 3px;
                    }
                }
            }
        }
        .rightContainer{
            width: 65%;
            height: 100%;
            background-color: rgba(3, 150, 166, 1);
            border-radius: 0 100px 0 0;
        }
    }
}


@keyframes opacity {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}        
    