.notFound{
    display: flex;
    justify-content: center;
    margin-top: 15rem;
    color: #0396A6;
    font-size: 80px;

    @media screen and (max-width: 767px) {
        font-size: 45px;
    }

    @media screen and (max-width: 425px) {
        font-size: 30px;
    }
}